.poke-card{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    flex-wrap: wrap;
   
}
.text-game{
    text-align: center;
}
.winner-hand{
    color: #03fc07;
}
.loser-hand{
    color:#fc0f03;
}